tensorboard
matplotlib
numpy
scipy
matplotlib
pandas
pandas-stubs
Pillow
types-Pillow
kornia
kornia-rs
pyarrow
tensorboard
tqdm
types-tqdm
pyarrow
pyyaml
types-pyyaml
pytest
pytest-cov
pytest-sugar
mypy
mypy_extensions
isort
black
tox
click
typing-extensions
types-six 
types-requests
types-tabulate
types-protobuf
torch==1.13.1+cu116
torchvision==0.14.1+cu116
--extra-index-url https://download.pytorch.org/whl/cu116