click
kornia
tensorboard
matplotlib
numpy
pandas
Pillow
psutil
scipy
torch==1.13.1
torchvision==0.14.1
tqdm

### dev & test tools ###
tox
coverage
pytest
pytest-cov
pytest-sugar
mypy
mypy_extensions
flake8
black
isort


### typing stubs ###
typing-extensions
types-protobuf
types-six
types-tabulate
typing_extensions
types-psutil
types-setuptools
types-tqdm
types-Pillow
pandas-stubs


### CUDA PyTorch ###
--extra-index-url https://download.pytorch.org/whl/cu116
